# builds
lenslocked

# modd
modd.conf

# IDE files
.vscode/
.idea/
*.iml
.DS_Store


# doc
doc 


# go mod
go.mod
go.sum

# docker compose files
docker-compose.yml


# npm files
tailwind/node_modules
package-lock.json
npm-debug.log


#env files
.env