services:
  db:
    ports:
      - "5432:5432"

  adminer:
    image: adminer
    container_name: adminer
    restart: always
    ports:
      - "3333:8080"
    environment:
      ADMINER_DESIGN: dracula
