{{template "header"}}
<div class="px-6 flex-grow">
    <h1 class="py-4 text-4xl semibold tracking-tight">Contact us</h1>
    <p class="text-gray-800"> Get in touch with me at <a href='mailto:raminder@live.com'>raminder@live.com</a></p>
</div>
{{template "footer"}}